*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    font-family: 'Roboto', 'sans-serif';
} */
a{
    text-decoration: none;
    color: white;
}
/*------------------
Navigation*
---------------------*/
nav{
    background-color: #E9E9E9;
}
.navbar{
    display: flex;
    width: 80%;
    margin:auto;
    padding: 20px 0;


}

.nav-title{
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
}

.nav-list{
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-top: 5px;
}

.nav-link{
    color: rgb(78, 74, 74);
    padding:30px 20px;
    font-size: 18px;
    text-transform: uppercase;  
}
.active,.nav-link:not(.active):hover{
    color:rgb(199, 38, 65) ;
}

.dropdown-list{
    position: absolute;
    top: 10%;
    list-style: none;
    background-color:#E9E9E9;
    color: white;
}
.drop-icon{
    font-size: 15px;
    padding-right: 5px;
}
.dropdown-list li{
    line-height: 40px;
    width: 150px;
    height: 50px;
}
.dropdown-list li:not(:last-child){
    border-bottom: 1px solid white;
   
   
}

.dropdown-list li:hover{
    background-color:#D55A77 ;
    
}

.dropdown-link{
    padding-left: 10px;
    text-transform: uppercase;
    color: black;   
}

.navbar .dropdown-list{
    display: none;
}

.navbar ul li:hover >  .dropdown-list{
    display: block;
}

.menu-toggle{
    display: none;
    margin-left: auto;
    background-color: black;
    color: whitesmoke;
    width: 200px;
    padding: 10px ;
}
.fa-chevron-down{
float: right;
}

@media screen and (max-width:890px){
    .menu-toggle{
        display: block;
    }
    .nav-list{
        display: block;
        position: absolute;
        top: 7%;
        right: 10%;
       
        width: 200px;
        background-color: black;

    }

    .nav-list li{
        margin-top: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(32, 19, 19);      
    }

    .dropdown-list{
        right: 100%;
        top: 20%;
    }
    
}